.carousel {
    padding: 81px 0 82px 0;
    @media (max-width: 767px) {
        padding: 60px 0 60px;
    }
}

.carousel__inner {
    position: relative;
    margin: 0 auto;
    width: 750px;
    img {
        width: 100%;
    }
    @media (max-width: 991px) {
        width: 740px;
    }
    @media (max-width: 767px) {
        width: 550px;
    }
    @media (max-width: 576px) {
        width: 300px;
    }
}

.carousel .slick-prev,
.carousel .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -66px;
    background-color: #ffffff;
    border: none;
    img {
        width: 31px;
        height: 50px;
    }
}

.carousel .slick-next {
    left: auto;
    right: -66px;
}

.carousel .slick-dots {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    li {
        margin-right: 17px;
        &:last-child {
            margin-right: 0;
        }
        button {
            display: block;
            width: 23px;
            height: 23px;
            background-color: #ffffff;
            border: 2.5px solid #0d0d0d;
            border-radius: 50%;
            color: #ffffff;
            font-size: 1px;
            line-height: 1px;
            @media (max-width: 576px) {
                width: 17px;
                height: 17px;
            }
        }
    }
    .slick-active {
        button {
            background-color: #0d0d0d;          
            color: #0d0d0d;
        }
    }
}

